.bestsaler{
    position: relative;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    &-button{
        position: absolute;
        top: 20px;
        right: 20px;
        a{
            color: #5c5c5c;
            text-decoration: none;
        }
    }
    &-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        &-item{
            margin: 3px;
            max-width:20rem;
            font-size:medium;
        }
    }
    
}