.home {
    &-preview {
        margin-top: 0px;
        
    }
    &-content {
        font-family: 'Roboto' , sans-serif',Segoe UI', Tahoma, Geneva, Verdana;
        font-size: 20px;
        
    }
}